body {
    font-family: Arial;
    margin: 0;
    background-color: white;
    color: #000000;
}

header {
    text-align: center;
    padding: 20px;
}

main {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
}

.card {
    width: 200px;
    padding: 20px;
    outline: 1px solid #ccc;
}

button {
    padding: 10px 20px;
}

footer {
    text-align: center;
    margin-top: 30px;
}